.review {
    width: 100%;
    margin-top: 150px;
}
.review__container {
    padding: 0 35px;
    display: flex;
    align-items: center;
    gap: 40px;
    color: black;
    @media screen and (max-width: 992px) {
        flex-direction: column;
    }
}

.review__right {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}
.review__img img{
    width: 100%;
    border-radius: 10px;
    max-width: 900px;
}
.review__title h2{
    text-align: center;
}

.review__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}
.review__form-main {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction:column;
}
.checkbox-review a{
    color: black;
    font-weight: 600;
}
.review__form-main input {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 15px;
    outline: none;
}
.review__form-main textarea {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 15px;
    outline: none;
    resize: none;
}

.review__form-main button {
    padding: 20px 50px;
    border-radius: 10px;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 18.75px;
    transition: 0.5s;
    position: relative;
    top: 30px;
    cursor: pointer;
}
.review__form-main button:hover {
    color: #007BFF;
    background-color: white;
}